.ArtistInfo {
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 255, 184);
  height: 15%;
  width: 18vw;
}

.ArtistInfo img {
  width: 100%;
}

.AllElements ::selection {
  background: none;
  color: none;
}
