.ArtistInfo {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 15%;
  width: 18vw;
}

.ArtistInfo img {
  width: 100%;
}

.AllElements ::selection {
  background: none;
  color: none;
}
